# Virtual environment  
.venv/  
.env  

# Python cache  
__pycache__/  
*.py[cod]  
*.so  

# Jupyter Notebook checkpoints  
notebooks/.ipynb_checkpoints/  

# Data files  
data/raw/  
data/processed/  
*.csv  
*.tsv  
*.json  

# Models and embeddings  
models/all-mpnet-base-v2/ 

# Gradio and temporary files  
.gradio/  
*.log  
*.tmp  

# VS Code workspace settings  
*.code-workspace  
.vscode/  

# Ignore system files  
.DS_Store  
Thumbs.db  
